{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
    <title>
        {%  block title %}Table de marque{% endblock %}
    </title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    {%  block header %}{% endblock %}
</head>
<body>
    <header>
        <h1>Table de marque</h1>
        <nav>
            <u1>
                <li><a href="{% url 'home' %}">Page d'accueil</a></li>
                <li><a href="{% url 'about' %}">Mais qu'est-ce que donc?</a></li>
                <li><a href="{% url 'contact' %}">contact info</a></li>
            </u1>
        </nav>
    </header>
    {% block content %}{% endblock %}
    {% block footer %}{% endblock %}
</body>
</html>